body {
  margin: 0;
  padding: 0; }
  body .container {
    width: 70%;
    margin: 0 auto;
    text-align: center; }
    body .container table {
      width: 100%;
      border: 1px solid #000;
      font-size: 18pt;
      height: 400px; }
      body .container table select {
        width: 80%;
        height: 80%;
        background-color: transparent;
        padding-left: 22%;
        font-size: 16pt;
        border: none;
        outline: none; }
      body .container table thead tr {
        height: 12%; }
        body .container table thead tr td {
          background-color: grey; }
      body .container table tr {
        padding: 3%;
        height: 10%; }
        body .container table tr td {
          width: 25%;
          height: 5%;
          background-color: gainsboro;
          padding-right: 10px; }
      body .container table .property {
        text-align: right;
        background-color: grey; }

